.header{
    height: 80px;
    background: #3a3d41;
    margin: auto;
    width: 1080px;
    border-radius: 0 0 10px 10px;
}

.header ul {
    list-style-type: none;
    display: inline-block;
    margin: 8px;
    padding: 0px;
}
.header li {
    display: inline-block;
    margin: 10px;
}

.header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-size: 25px;
}

.header a:hover{
    background-size: 100% 2px;
    color: #ececec;
}

