.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.tomato {
    background: tomato;
}

.silver {
    background: silver;
}

.brown {
    background: saddlebrown;
}

.aqua {
    background: aqua;
}

.chocolate {
    background: chocolate;
}

.darkblue {
    background: darkblue;
}


