div .homepage{
    height: 550px;
}

div .photo img{
    width: 430px;
}

div .photo {
    display: block;
    text-align: center;
}

.text p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkslategrey;
}

.homepage h2{
    text-align: center;
    color: white;
    margin: 0px;
    padding: 7px;
}

.homepage .main-react{
    background: black;
    height: 50px;
}

.footer h3{
    margin: 0px;
}

.footer {
    margin-top: 50px;
    background: darkslategrey;
    color: white;
    text-align: center;
}

